@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    /* to not have scroll bar horizontally*/
    overflow-x: hidden;
    font-family: Lato, sans-serif;
    color: #cdcdcd;
    /*background: linear-gradient(180deg, #FFFFFF 0%, #F3F8F7 49.91%, #FFF9F5 94.19%);*/
    background-color: #111111;
}

.wrapper {
    position: relative;
    width: 1440px;
    height: 1379px;
    /* to center our wrapper withing our page if our page happens to be wider than 1440 pixels */
    margin: 0 auto;
}

.brand-img {
    position: absolute;
    width: 193px;
    height: 47.64px;
    left: 221px;
    top: 50.25px;
}

.title {
    position: absolute;
    width: 458px;
    height: 135px;
    left: 221px;
    top: 236px;
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 67px;
}

.text {
    position: absolute;
    width: 394px;
    height: 96px;
    left: 221px;
    top: 403px;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
}

.app-store-btn {
    position: absolute;
    width: 138.44px;
    height: 46.28px;
    left: 221px;
    top: 531px;
}

.app-store-btn img {
    width: 138.44px;
    height: 46.28px;
}

.google-play-btn {
    position: absolute;
    width: 156.19px;
    height: 46.28px;
    left: 381.81px;
    top: 531px;
}

.google-play-btn img {
    width: 156.19px;
    height: 46.28px;
}

.main-image-container {
    position: absolute;
    width: 535.72px;
    height: 309.27px;
    left: 683.28px;
    top: 229.73px
}

.main-image-container img {
    height: 411.15px;
}

.profile-img {
    position: absolute;
    height: 444px;
    left: 737px;
    right: 479px;
    top: 686px;
}

.product-img {
    position: absolute;
    height: 222px;
    left: 737px;
    right: 479px;
    top: 1157px;
}

.orders-img {
    position: absolute;
    height: 470px;
    left: 479px;
    right: 737px;
    top: 913px;
}

.cart-img {
    position: absolute;
    height: 222px;
    left: 221px;
    right: 995px;
    top: 1157px;
}

.home-img {
    position: absolute;
    height: 470px;
    left: 995px;
    right: 221px;
    top: 908px;
}

/*backgrounds toggles*/
.background-toggles {
    position: absolute;
    right: 150px;
    top: 70px;
    display: flex;
}

/* > : to target every div that is s a child of our parent toggles class*/
.background-toggles > div {
    height: 25px;
    width: 25px;
    border-radius: 7px;
    margin-right: 10px;
    /* X Y spread blur color*/
    box-shadow: 0 2px 5px 2px rgba(255, 255, 255, 0.3);
    cursor: pointer;
}

/* backgrounds */
.background-1 {
    background-color: #424242;
    background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23a3a3a3' fill-opacity='0.19' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}

.background-2{
    background: #0f0c29;
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to top, #24243e, #302b63, #0f0c29);
}
.background-3{
    background-image: url("./img/spotlight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
